/* Resetowanie stylów  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  padding-bottom: 56px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1 {
  font-size: 2em;
  margin: 20px;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
  margin: 0;
}

li {
  list-style-type: none;
}

button {
  margin: 5px;
}
